<div class="col-lg-10 offset-lg-1">
    <div class="jumbotron">
        <h1 >{{title}}</h1>
        <p >the page you are trying to load does not exist</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p >
          <a class="btn btn-primary btn-lg" href="#" role="button">Add product</a>
      
            <a class="btn btn-success btn-lg" href="#" role="button">View products</a>
          </p>
    
      </div>
    </div>